### Introduction

- Tuples are IMMUTABLE, unlike lists.
- In case of strings, tuples and lists we are able to use indexing cos there's an order to them.

### Tuple

In [1]:
#by default Python assumes a lot of things as a tuple
a = (1,2)
b = 1,2
type(b)

tuple

In [10]:
#Slicing works the same way
f = (1,2,3,4,5,6)
f[-5::-1] #damn I forgot how -ve indexing works

(2, 1)

In [12]:
#reverse :)
f[len(f)::-1]

(6, 5, 4, 3, 2, 1)

In [13]:
#Immutability: items in tuple cannot be added, deleted or updated
f[2] = 34

TypeError: 'tuple' object does not support item assignment

In [14]:
#for loop
for i in f:
    print(i)

1
2
3
4
5
6

In [15]:
#membership check
1 in f

True

In [16]:
9 in f

False

In [17]:
#concatenation
a = (1,2)
b = 3,4,5
c = a + b
c

(1, 2, 3, 4, 5)

In [19]:
#tuple of tuples
d = (a, b)
d

#multiplying elements - repetition
e = a*3
e

(1, 2, 1, 2, 1, 2)

In [21]:
#min and max functions
a = (1,2,3,4,(1,2))
min(a)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [22]:
#list to tuple
l = [1,2,3,4]
tup = tuple(l)
tup

(1, 2, 3, 4)

#### Variable length input and output
- If * is given as input argument in function, the values given to the function act as a tuple
- output will also be of type tuple if assignment variable is one but values returned are more than 1

In [25]:
#variable length input: 
def add(a,b,c=0, *more):
    ans = a + b
    for i in more:
        ans = ans + i
        
    return ans

ans = add(2,3,4,5,6,7)
ans

27

In [26]:
def multi(a,b,c=0):
    return a+b+c,a-b-c

ans = multi(2,3,6)
ans

(11, -7)

### Dictionary
- a{key:value}
- Key can be anything unlike lists and tuples where key to the value can only be the index
- MUTABLE

Advantage:
- If we need 1000 to be an index in a list, we need 1001 elements in it, but dict can hold 1000 as a key in any number of elements

In [30]:
a = {'the':2, 'cat':3, 20:'what'}
a['cat']

3

#### Ways of creating dicts
- Copying another dict
- Using dict function
- Using fromkeys function, by default gives None to values

In [32]:
#copy
b = a.copy()
b

{'the': 2, 'cat': 3, 20: 'what'}

In [33]:
#convert list to dict
li = [('a',3),('b',4),(3,'what')]

In [34]:
d = dict(li)
d

{'a': 3, 'b': 4, 3: 'what'}

In [36]:
#Using fromkeys function
d = dict.fromkeys(['the',4,5],10)
d

{'the': 10, 4: 10, 5: 10}

#### Manipulation inside dicts

In [62]:
a = {'the':2, 'cat':3, 20:'what', 9:{1,2}, 2.2:[6,7]}
a.get(9)

{1, 2}

In [39]:
#get function will not return error if the key is not present
print(a.get('love')) #xDxDxD

None

In [40]:
a['love']

KeyError: 'love'

In [45]:
#In case key has no value and you don't want get to return none, 2nd argument is returned
a.get('love', 0)

0

In [46]:
a.keys()

dict_keys(['the', 'cat', 20, 9, 2.2])

In [47]:
a.values()

dict_values([2, 3, 'what', {1, 2}, [6, 7]])

In [48]:
a.items() #gives a list of tuples

dict_items([('the', 2), ('cat', 3), (20, 'what'), (9, {1, 2}), (2.2, [6, 7])])

#### Looping in dicts

In [49]:
for i in a:
    print(i, a[i])

the 2
cat 3
20 what
9 {1, 2}
2.2 [6, 7]

In [50]:
for i in a.values():
    print(i)

2
3
what
{1, 2}
[6, 7]

In [51]:
#to check if key is present in a dict
'the' in a

True

#### Updating Dicts

In [52]:
a['t'] = 90
a

{'the': 2, 'cat': 3, 20: 'what', 9: {1, 2}, 2.2: [6, 7], 't': 90}

In [53]:
b = {'a':89, 'the':120}
a.update(b)

In [54]:
#update will update all the values of keys given in b and add the new key value pairs to a
a

{'the': 120, 'cat': 3, 20: 'what', 9: {1, 2}, 2.2: [6, 7], 't': 90, 'a': 89}

#### Removing elements

In [55]:
a.pop('cat')

3

In [57]:
del a[20]
a

{'the': 120, 9: {1, 2}, 2.2: [6, 7], 't': 90, 'a': 89}

In [58]:
del a
a

NameError: name 'a' is not defined

In [61]:
a.clear()
a

{}

In [63]:
#Example ques: print the words with the highest frequency

s = "This is a word string having many many word"
k = 2

In [74]:
words = s.split()
d = {}
for w in words:
    d[w] = d.get(w,0) + 1
    
for w in d:
    if d[w] == k:
        print(w)

word
many

### Sets

- Unordered collection of data
- Important when something unique needs to be stored since already present data will not get stored again
- Just like dicts except key-value pairs don't exist, just values exist.
- For loop is similar to the rest

In [75]:
a = {"apple", 'abc', 'blue'}

In [77]:
'apple' in a

True

In [83]:
a.add('temp')

In [88]:
b = {'tempo', 'laddoo', 'abc'}
a.update(b) #updates whatever's there in b to a (goes inside a)
#b.update(a) - everything that a has will go inside b

In [85]:
a

{'abc', 'apple', 'blue', 'laddoo', 'temp', 'tempo'}

In [90]:
a.remove('tempo')
a

{'abc', 'apple', 'blue', 'laddoo'}

In [91]:
#discard function doesn't give error if key doesn't exist in set unlike remove function
a.discard('rrr')

In [92]:
a.pop() #will remove any random element

'laddoo'

#### Set Functions

In [106]:
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection(b)

{3, 4}

In [94]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [96]:
a.difference(b) #gives leftover values in a that are not in b
b.difference(a) #gives leftover values in b that are not in a

{5, 6}

In [98]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [100]:
#update a with intersectionelements of a and b
a.intersection_update(b)
a

{3, 4}

In [104]:
a.difference_update(b)
a

{1, 2}

In [108]:
a.symmetric_difference_update(b)
a

{1, 2, 3, 4}

In [111]:
a.issubset(b)

False

In [112]:
a = {3,4}
a.issubset(b)

True

In [113]:
b.issuperset(a)

True

In [114]:
d = {8,9}
a.isdisjoint(d) #false if there's anything common

True

In [116]:
s = {1,2,3,5,4,2,3,1}
print(len(s),end= ' ')
s.add(4)
s.add(3)
print(len(s))

5 5

In [119]:
#Example ques: add all the unique elements in a list

def sumUnique(li):
    s = set() #since s = {} will create an empty dict
    for i in li:
        s.add(i)
    sum = 0
    for i in s:
        sum+=i
    return sum

li = {1,2,3,4,2,3,1,4}
ans = sumUnique(li)
print(ans)

10

In [6]:
#Permutation using dicts - dayum so easy

def isPermutation(string1, string2):
    
    if len(string1) != len(string2):
        return False
    
    dict1 = {}
    dict2 = {}
    
    for ele in string1:
        dict1[ele] = dict1.get(ele,0) + 1
        print(dict1)
        
    for ele in string2:
        dict1[ele] = dict1.get(ele,0) - 1
        print(dict1)
        
    if all(x == 0 for x in dict1.values()):
        return True
    
    return False

string1 = input()
string2 = input()
print(isPermutation(string1, string2))

string
grinst
{'s': 1}
{'s': 1, 't': 1}
{'s': 1, 't': 1, 'r': 1}
{'s': 1, 't': 1, 'r': 1, 'i': 1}
{'s': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1}
{'s': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1, 'g': 1}
{'s': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1, 'g': 0}
{'s': 1, 't': 1, 'r': 0, 'i': 1, 'n': 1, 'g': 0}
{'s': 1, 't': 1, 'r': 0, 'i': 0, 'n': 1, 'g': 0}
{'s': 1, 't': 1, 'r': 0, 'i': 0, 'n': 0, 'g': 0}
{'s': 0, 't': 1, 'r': 0, 'i': 0, 'n': 0, 'g': 0}
{'s': 0, 't': 0, 'r': 0, 'i': 0, 'n': 0, 'g': 0}
True